<!--FOR REGISTER PAGE-->
<!--NEED TO CONFIGURE THE BUNDLES FOE NORMAL WORKING-->

@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en" class="layout-menu-fixed layout-compact" data-assets-path="~/Content/assets/" data-template="vertical-menu-template-free">
<head>
    @Html.Partial("_Header")
    <!-- Page CSS -->
    @Styles.Render("~/bundles/hero/css")
    @RenderSection("Styles", required: false)
</head>
<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            @Html.Partial("_Sidebar")
            <!-- / Menu -->

            <!-- Layout container -->
             <div class="layout-page">
                  <!-- Navbar -->
                  @Html.Partial("_Navigation")
                  <!-- / Navbar -->
                  <!-- Content wrapper -->
                  <div class="content-wrapper">
                       <!-- Content -->
                       <div class="container-xxl flex-grow-1 container-p-y">
                            @RenderBody()
                       </div>
                       <!-- / Content -->
                       <!-- Footer -->
                       @Html.Partial("_Footer")
                       <!-- / Footer -->
                  </div>
                  <!-- / Content wrapper -->
             </div>
            <!-- / Layout container -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    @Scripts.Render("~/bundles/core/js")
    @Scripts.Render("~/bundles/login/js")
    
    <!-- Vendors JS -->
    <script src="~/Content/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="~/Content/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="~/Content/assets/js/dashboards-analytics.js"></script>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
     